@model IEnumerable<ShopCake.Models.ContactForm>

@{
    ViewData["Title"] = "Danh sách liên hệ";
}

<div class="container my-4">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Message)
                    </th>
<<<<<<< HEAD

=======
                    
>>>>>>> dc9e599519289a7c5ee66623e071d2e7fa9edef8
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Message)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> dc9e599519289a7c5ee66623e071d2e7fa9edef8
