@model IEnumerable<ShopCake.Models.Order>

@{
    ViewData["Title"] = "Bill List";
}

<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-warning card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md">
                                <h3 class="card-title">Bill List</h3>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.OrderDate)</th>
                                    <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
                                    <th>@Html.DisplayNameFor(model => model.Phone)</th>
                                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                                    <th>@Html.DisplayNameFor(model => model.TotalPrice)</th>
                                    <th>@Html.DisplayNameFor(model => model.Discount)</th>
                                    <th>@Html.DisplayNameFor(model => model.PaymentMethod)</th>
                                    <th>@Html.DisplayNameFor(model => model.IsPaid)</th>
                                    <th>@Html.DisplayNameFor(model => model.Note)</th>
                                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                                    <th>@Html.DisplayNameFor(model => model.Member)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Discount)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PaymentMethod)</td>
                                        <td>@Html.DisplayFor(modelItem => item.IsPaid)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Note)</td>
                                        <td>
                                            @if (item.Status == 0)
                                            {
                                                @:Đã giao
                                            }
                                            else if (item.Status == 1)
                                            {
                                                @:Chưa giao
                                            }
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Member.MEM_ID)</td>
                                        <td>
                                            <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.ORD_ID">
                                                <i class="fas fa-info-circle"></i>
                                            </a> 
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
