@model IEnumerable<ShopCake.Models.Review>

@{
    ViewData["Title"] = "Reviews";
}

<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-warning card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md">
                                <h3 class="card-title">Reviews</h3>
                            </div>
                            <div class="col-md-auto">
                                <a asp-action="Create" id="btnAdd"
                                   type="button"
                                   class="btn btn-warning">
                                    <i class="fa-light fa-add me-1"></i> Add new Reviews
                                </a>
                            </div>
                        </div>
                    </div>
                    <form method="get" action="@Url.Action("Index")">
                        <div class="input-group">
                            <input type="text" name="searchString" class="form-control" placeholder="Search by product name..." value="@ViewData["CurrentFilter"]" />
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-search"></i> Search
                            </button>
                        </div>
                    </form>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tbl" class="table">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.Member.MEM_ID)</th>
                                            <th>@Html.DisplayNameFor(model => model.Product.PRO_ID)</th>
                                            <th>@Html.DisplayNameFor(model => model.Rate)</th>
                                            <th>@Html.DisplayNameFor(model => model.Content)</th>
                                            <th>@Html.DisplayNameFor(model => model.ReviewDate)</th>
                                            <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
                                            <th>@Html.DisplayNameFor(model => model.createdBy)</th>
                                            <th>@Html.DisplayNameFor(model => model.updatedDate)</th>
                                            <th>@Html.DisplayNameFor(model => model.updatedBy)</th>

                                            <th></th> <!-- Actions column -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.Member.MEM_ID)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Product.PRO_ID)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Rate)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Content)</td>
                                                <td>@Html.DisplayFor(modelItem => item.ReviewDate)</td>
                                                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                                <td>@Html.DisplayFor(modelItem => item.createdBy)</td>
                                                <td>@Html.DisplayFor(modelItem => item.updatedDate)</td>
                                                <td>@Html.DisplayFor(modelItem => item.updatedBy)</td>

                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.REV_ID">Edit</a> |
                                                    <a asp-action="Details" asp-route-id="@item.REV_ID">Details</a> |
                                                    <a asp-action="Delete" asp-route-id="@item.REV_ID">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                        </div>
                    </div>
