@model IEnumerable<ShopCake.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-warning card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md">
                                <h3 class="card-title">Category List</h3>
                            </div>
                            <div class="col-md-auto">
                                <a asp-action="Create" id="btnAdd"
                                   type="button"
                                   class="btn btn-warning">
                                    <i class="fa-light fa-add me-1"></i> Add new
                                </a>
                            </div>
                        </div>
                    </div>
                
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tbl" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updatedBy)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CAT_ID" title="Edit" class="text-primary">
                        <i class="fas fa-edit"></i>
                    </a>
                                  <a href="#" onclick="event.preventDefault(); document.getElementById('deleteForm-@item.CAT_ID').submit();" class="text-danger">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <form id="deleteForm-@item.CAT_ID" action="@Url.Action("Delete", new { id = item.CAT_ID })" method="post" style="display:none;">
                        @Html.AntiForgeryToken()
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>
</div>
  </div>
<!-- /.card-body -->
 </div>
<!-- /.card -->
            </div>


        </div>
    </div>
</div>
